.inter-uniqifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* nav styles */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 282px 0px 150px;
}
.nav-title{
    font-weight: bold;
    font-size: 34px;
    color: #4E47FF;
}
nav ul li{
    list-style: none;
}
nav li{
    text-decoration: none;
}
.btn-primary{
    background-color:#4E47FF;
    font: bold;
   font-size: 16px;
   color:#FFFFFF ;
   padding: 12px 36px;
   border-radius: 10px;
   border: none;
}
/* banner part */
.banner-conent{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    max-width: 905px;
    max-height: 152px;
}
.banner{
    margin: 309px 267.5px 152px 400px;
}
.center{
   display: flex;
    justify-content: center;
}
header{
    background-image: url(../../Hero-bg.png);
}
/* Action section */
.action{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.description{
    font-weight: 400px;
    font-size: 24px;
    color: #252432;
}
.section{
    display: flex; 
    margin-top: 107px;
    margin-left: 141px;
    margin-right: 159px;
    margin-bottom: 116px;
    justify-content: space-between;
}
.selector{
    border-radius: 30px;
    width: 403px;
    height: 328px;
}
/* acivement section */
.achivements{
    font: size 38px; ;
    font-weight:bold ;
    color:#252432 ;
    text-align: center;
    padding-top: 50px;
}
.third{
    background-color:#706f8351;
    margin-right: 159px;
    margin-left: 141px;
    padding: 20px 142px;
    text-align: center;
    border-radius: 15px;
}
section ul li{
     list-style: none;
}
.item-title{
    font-weight: 800;
    font-size: 45px;
    color:#4E47FF ;
}
.about-items{
display: flex;
justify-content: space-around;
    }
    .item-description{
        color: #000000;
        font-weight: 400px;
        font-size: 20px;
    }
    /* revews */
.reviews-title{
    text-align: center;
    font-weight: bold; font-size: 42px;
    color: #252432;
    
}
.reviews{
    margin-top: 165px;
    margin-bottom: 109px;
}
.good-reviews{
    display: flex;
    gap: 20px;
}
.name{
    display: flex;

}
.review{
    box-shadow: 0px 6px 50px 0px black;
    border-radius: 15px;
}