.inter-uniqifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* nav styles */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 282px 0px 150px;
}
.nav-title{
    font-weight: bold;
    font-size: 34px;
    color: #4E47FF;
}
nav ul li{
    list-style: none;
}
nav li{
    text-decoration: none;
}
.btn-primary{
    background-color:#4E47FF;
    font: bold;
   font-size: 16px;
   color:#FFFFFF ;
   padding: 12px 36px;
   border-radius: 10px;
   border: none;
}
/* banner part */
.banner-conent{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    max-width: 905px;
    max-height: 152px;
}
.banner{
    margin: 309px 267.5px 152px 400px;
}
.center{
   display: flex;
    justify-content: center;
}
.header{
    background-image: url(../);
}